.global-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  
  justify-content: flex-start;

}
body {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 10%;
  left: 20%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.App {
  width: 300px;
  height: 300px;
  border: red solid 1px;
  position: absolute;
  font-family: sans-serif;
  font-size: 30px;
}
.d {
  width: 100px;
  height: 106px;
  position: absolute;
  left: 300px;
  background-color: red;  
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}
.num-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border: 2px solid red;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.num-2 {
  position: absolute;
  top: 0;
  left: 33%;
  width: 100px;
  height: 100px;
  color: red;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.num-3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  border: 2px solid red;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.num-4 {
  position: absolute;
  top: 33.3%;
  left: 0;
  width: 100px;
  height: 100px;
  border: 2px solid red;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.num-5 {
  position: absolute;
  top: 33.3%;
  left: 33%;
  width: 100px;
  height: 100px;
  border: 2px solid red;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.num-6 {
  position: absolute;
  top: 33.3%;
  right: 0;
  width: 100px;
  height: 100px;
  border: 2px solid red;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.num-7 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border: 2px solid red;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.num-8 {
  position: absolute;
  bottom: 0;
  left: 33%;
  width: 100px;
  height: 100px;
  border: 2px solid red;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.num-9 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
  border: 2px solid red;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}


.omnicity {
  font-weight: 900;
  color: white;
  background-color: red;
  text-transform: uppercase;
  font-size: 18px;
}